on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          cache: npm

      - run: npm ci
      - run: npm run build
      - run: npm test

  release:
    needs: test
    if: ${{ github.ref_type == 'tag' }}

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          cache: npm

      - run: npm ci
      - run: npm run build

      - uses: dr666m1/tag-version-match@main
        with:
          file: ./package.json
          query: .version
          pattern: '^([0-9]+\.[0-9]+\.[0-9]+)$'

      - uses: ncipollo/release-action@v1
        with:
          artifacts: ./downloaded_csv_to_clipboard.zip
